.dinamicConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--DarkGrey);
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    height: fit-content;
}

@media screen and (min-width: 1440px) {
    .dinamicConteiner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 310px;
    }

    .buttons:active {
        background: linear-gradient(to bottom, var(--Green), rgb(63, 247, 2), transparent);
    }
}